In [1]:
import pandas as pd
df = pd.read_csv("gold.csv")

In [2]:
df.head()

   Year  Price
0  2022  52950
1  2021  50045
2  2020  48651
3  2019  35220
4  2018  31438

In [3]:
x = df['Year']
y = df['Price']

In [4]:
import numpy as np
b1 = np.sum((x-np.mean(x))*(y-np.mean(y)))/np.sum(((x-np.mean(x))*(x-np.mean(x))))
df['sx'] = x-np.mean(x)
df['sy'] = y-np.mean(y)

In [5]:
df.head()

   Year  Price    sx           sy
0  2022  52950  28.5  42879.12069
1  2021  50045  27.5  39974.12069
2  2020  48651  26.5  38580.12069
3  2019  35220  25.5  25149.12069
4  2018  31438  24.5  21367.12069

In [6]:
np.sum(df['sx']*df['sy'])/np.sum(df['sx']*df['sx'])

675.3436586791352

In [7]:
b1

675.3436586791352

In [8]:
b0 = np.mean(y) - (b1*np.mean(x))
b0

-1336226.7042665111

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
x = np.array(df[['Year']])
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [11]:
regr = LinearRegression()

In [12]:
model = regr.fit(train_x,train_y)

In [13]:
y_hat = model.predict(test_x)
y_hat

array([ 5653.46337736,  6269.28072788,  1342.74192368, 10580.00218155,
       20433.07978994, 25975.43594466,  6885.09807841,  -504.71012789,
       13659.08893417, -2352.16217946, 24743.80124362, 21048.89714047])

In [14]:
from sklearn.metrics import mean_squared_error

In [15]:
mean_squared_error(test_y,y_hat)

71474983.37616874

In [21]:
#if we neeed to do it for 5 epochs lets go on with the task
df = pd.read_csv("gold.csv")
b1 = 0.0
b0 = 0.0
alpha = 0.01
weights = []
bias = []
error = []
x = np.array(df['Year'])
y = np.array(df['Price'])
print(df.shape)
for i in range(5):
    for j in range(df.shape[0]):
        y_pred = ((b1*x[j])+b0)
        delta = y_pred - y[j]
        error.append(delta)
        b0 = b0 - (alpha*delta)
        b1 = b1 - (alpha*delta*x[j])
        b.append(b1)

(58, 2)

-7.922594802946753e+231